{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>Hello, I'm <span class="highlight">Harikesh Das</span></h1>
        <h2>ML Engineer</h2>
        <p>This is all about me in one place</p>
        <div class="cta-buttons">
            <a href="{{ url_for('projects') }}" class="btn primary-btn">View My Work</a>
            <a href="{{ url_for('contact') }}" class="btn secondary-btn">Contact Me</a>
        </div>
    </div>
</section>

<section class="skills">
    <h2 class="section-heading">My Skills</h2>
    <div class="skills-container">
        <div class="skill-card">
            <i class="fas fa-code"></i>
            <h3>Programming Languges</h3>
            <p>Python, Java</p>
        </div>
        <div class="skill-card">
            <i class="fas fa-robot"></i>
            <h3>AI & ML</h3>
            <p>Numpy, Pandas, Scikit-Learn, <br>Keras, PyTorch, TensorFlow, <br>Microsoft CNTK</p>
        </div>
        <div class="skill-card">
            <i class="fas fa-database"></i>
            <h3>Back-End</h3>
            <p>Flask, SQL, API Development,<br> MySQL, PostgreSQL</p>
        </div>
        <div class="skill-card">
            <i class="fas fa-sitemap"></i>
            <h3>Web Development</h3>
            <p>HTML, CSS, JavaScript</p>
        </div>
    </div>
</section>

<section class="featured-projects">
    <h2 class="section-heading">Featured Projects</h2>
    <div class="projects-grid">
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='images/gilbert-ng-ZLaJPFHR_8I-unsplash.jpg') }}" alt="Project 1">
            </div>
            <div class="project-info">
                <h3>Project One</h3>
                <p>Loan Approval Prediction using Supervised Learning</p>
                <div class="text-center">
                    <a href="https://github.com/Harikesh-Das" class="btn small-btn"><i class="fab fa-github"></i> Source Code</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='images/towfiqu-barbhuiya-jpqyfK7GB4w-unsplash.jpg') }}" alt="Project 2">
            </div>
            <div class="project-info">
                <h3>Project Two</h3>
                <p>An expense tracking website using HTML, CSS, JS and Flask</p>
                <div class="text-center">
                    <a href="https://github.com/Harikesh-Das" class="btn small-btn"><i class="fab fa-github"></i> Source Code</a>
                </div>
            </div>
        </div>
        <div class="project-card">
            <div class="project-image">
                <img src="{{ url_for('static', filename='images/assad-tanoli-NyEcJXFOz6A-unsplash.jpg') }}" alt="Project 3">
            </div>
            <div class="project-info">
                <h3>Project Three</h3>
                <p>Real Time American Sign Alphabet detection</p>
                <div class="text-center">
                    <a href="https://github.com/Harikesh-Das" class="btn small-btn"><i class="fab fa-github"></i> Source Code</a>
                </div>
            </div>
        </div>
    </div>
    <div class="view-all">
        <a href="{{ url_for('projects') }}" class="btn secondary-btn">View All Projects</a>
    </div>
</section>
{% endblock %} 